{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row align-items-center" style="min-height: 80vh">
        <div class="col-md-12 text-center">
            <h3>Enter your email to get a reset password link:</h3>
            <form action="" method="post">
                {% csrf_token %}
                {% if form.email.errors %}
                {{ form.email.errors }}
                {% endif %}
                <p>{{ form.email }}</p>
              <input class="btn btn-outline-primary" type="submit" value="Reset password">
            </form>
        </div>
    </div>
</div>
{% endblock %}
