<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}">Lew & Dowski</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        {% if request.user.is_authenticated and user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'add_account' %}">Add account</a>
        </li>
        {% endif %}
      </ul>
      <form class="d-flex mr-5">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      {% if request.user.is_authenticated %}
        <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'logout' %}">Logout</a>
        </li>
      </ul>
      {% else %}
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'login' %}">Login</a>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>