{% extends 'base.html' %}


{% block title %}
Delete account : {{ block.super }}
{% endblock %}


{% block content %}
<div class="container my-5 text-center">
  <h2>Are you sure you want to delete account "{{ delete_account_item.account_assigned }}"?</h2>

<div class="media-body">
    <img src="https://pbs.twimg.com/media/CDB2goAUgAAbla5.png" width="350" alt="Sad picture">
</div>

<form method="POST" class="mt-5">

    {% csrf_token %}
    {% if request.user.is_authenticated and user.is_staff %}
    <input type="submit" class="btn btn-outline-danger" value="Yes">
    <a href="{% url 'home' %}" class="btn btn-outline-primary">No</a>
    {% endif %}

</form>
</div>

{% endblock %}
