{% extends 'base.html' %}

{% block title %}
{{ title }} : {{ block.super }}
{% endblock %}

{% block content %}
<h1 class="text-center">All available accounts</h1>
<div class="container-fluid mt-3">
    <div class="table-responsive">
        <table class="table table-sm table-hover table-bordered text-center">
            <thead>
            <tr class="header">
                <th scope="col">#</th>
                <th scope="col">Account assigned</th>
                <th scope="col">Platform</th>
                <th scope="col">Type</th>
                <th scope="col">Parent card</th>
                <th scope="col">Card number</th>
                <th scope="col">Exp.</th>
                <th scope="col">CVV</th>
                <th scope="col">Created by</th>
                <th scope="col">Team</th>
                <th scope="col">In TM</th>
                <th scope="col">In tickets.com</th>
            </tr>
            </thead>
            <tbody>
            {% for account in data %}
            <tr>
                <th scope="row">{{ account.index }}</th>
                <td>{{ account.account_assigned }}</td>
                <td>{{ account.platform }}</td>
                <td>{{ account.type }}</td>
                <td>{{ account.parent_card }}</td>
                <td>{{ account.card_number }}</td>
                <td>{{ account.expiration_date }}</td>
                <td>{{ account.cvv_number }}</td>
                <td>{{ account.created_by }}</td>
                <td>{{ account.team }}</td>
                <td>{{ account.in_tm }}</td>
                <td>{{ account.in_tickets_com }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
