{% extends 'base.html' %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	  <link rel="stylesheet" href="{% static 'tables.css' %}">
    <title>{{ title }}</title>
  </head>
  <body>
    <h1 class="h1">All available accounts</h1>
	<div class="container-fluid mt-3">
		<div class="table-responsive">
			<table class="table table-sm table-hover table-bordered text-center">
			<thead>
			<tr class="header">
				<th scope="col">#</th>
				<th scope="col">Account assigned</th>
				<th scope="col">Platform</th>
				<th scope="col">Type</th>
				<th scope="col">Parent card</th>
				<th scope="col">Card number</th>
				<th scope="col">CVV number</th>
				<th scope="col">Created by</th>
				<th scope="col">Team</th>
				<th scope="col">In TM</th>
				<th scope="col">In tickets.com</th>
			</tr>
			</thead>
			<tbody>
			{% for account in accounts %}
				<tr>
					<th scope="row">{{ account.id }}</th>
					<td>{{ account.account_assigned }}</td>
					<td>{{ account.platform }}</td>
					<td>{{ account.type }}</td>
					<td>{{ account.parent_card }}</td>
					<td>{{ account.card_number }}</td>
					<td>{{ account.cvv_number }}</td>
					<td>{{ account.created_by }}</td>
					<td>{{ account.team }}</td>
					<td>{{ account.in_tm }}</td>
					<td>{{ account.in_tickets_com }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		</div>
	</div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>