{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://unpkg.com/tabulator-tables@5.4.1/dist/css/tabulator_midnight.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'tabulator.css' %}">
</head>
<body>
    <div class="header">
      <h1 style="text-align: center">Our data table</h1>
    </div>

    <div class="search-box-outer">
      <div class="search-box-inner">
        <label>Search</label><input type="text" id="search">
        <button id="add-record">Add record</button>
      </div>
    </div>

    <div id="data-table" class="data-table"></div>
    <div id="alerts"></div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.0.4/luxon.min.js" integrity="sha512-XdACFfCJeqqfVU8mvvXReyFR130qjFvfv/PZOFGwVyBz0HC+57fNkSacMPF2Dyek5jqi4D7ykFrx/T7N6F2hwQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.4.1/dist/js/tabulator.min.js"></script>
    <script src="{% static 'tabulator.js' %}"></script>
</body>
</html>