{% extends "base.html" %}
{% load django_tables2 %}
{% load bootstrap5 %}

{% block title %}
{{ title }} : {{ block.super }}
{% endblock %}

{% block content %}

<h1 class="text-center">All available accounts:</h1>
<div class="container-fluid mt-3 text-center">
    {% if request.user.is_authenticated or user.is_staff %}
        {% render_table table %}
    {% else %}
        <h3 class="h3 mt-5 text-center" style="color: #ff5346">YOU DON'T HAVE ACCESS TO THIS DATA!</h3>
    {% endif %}
</div>
{% endblock %}
